<section class="relative flex min-h-screen flex-col justify-center items-center overflow-hidden">
  <ng-container *ngIf="user">
    <div class="relative bg-white min-w-[700px] max-w-screen-xl py-8 shadow-xl ring-1 ring-gray-900/5 mx-auto rounded-lg px-10">
      <div class="flex flex-col gap-8">
        <div class="flex items-center justify-center">
          <img src="assets/images/user-solid-blue.svg" class="scale-75">
          <div class="flex flex-col">
            <p> {{user.firstName}} {{ user.lastName }}</p>
            <p class="text-secondary-purple"><button (click)="logout()"> Déconnexion</button></p>
          </div>
        </div>
        <form class="flex flex-col gap-8 items-center">
          <div class="grid grid-cols-2 gap-4">
            <app-custom-disabled-input class="col-span-1" [placeholder]="user.firstName" inputIcon="user-solid"></app-custom-disabled-input>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <span *ngIf="!user" class="daisy-loading daisy-loading-ring daisy-loading-lg text-primary-purple"></span>
</section>
